doctype html
html
  head
    title= 'Company Database'
    link(rel='stylesheet', href='./../stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
  body
    .header
        h1='Company Database'
    .content
        block content
    .footer
        small='created by Olexiy Bojko'
